resource "digitalocean_project" "project" {
  name = "{{project_name}}"
  resources = concat(
    [
      module.bastion_server.bastion_urn,
      {% for domain in top_level_domains['tlds'] %}
      digitalocean_domain.{{ domain.replace('.', '_dot_') }}.urn,
      {% endfor %}
      {% if(provision_postgres_cluster)%}
      module.cluster_infrastructure.postgres_cluster_urn,
      {% endif %}
    ],
    module.cluster_infrastructure.cluster_droplet_urns,
  )
}