output "nomad_server_token_cmd" {
  value = "vault token create -policy ${vault_policy.nomad_server.name} -period 72h -orphan"
}

output "nomad_server_policy_name" {
  value = vault_policy.nomad_server.name
}


{% if(provision_postgres_cluster)%}
output "postgres_connection_url" {
  value = vault_database_secret_backend_connection.postgres.postgresql[0]
  sensitive = true
}
{% endif %}
