variable "vault_admin_password" {
  type     = string
  default = "admin"
}

{% if(provision_postgres_cluster)%}
variable "db_username" {
  type = string
  sensitive = true
}

variable "db_password" {
  type = string
  sensitive = true
}

variable "postgres_ip" {
  type = string
}

variable "postgres_port" {
  type = string
}
{% endif %}
